<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<servlet>
	<servlet-name>insertloan</servlet-name>
	<servlet-class>pack1.insertloan</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>insertloan</servlet-name>
	<url-pattern>/reg</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>updateloan</servlet-name>
	<servlet-class>pack1.updateloan</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>updateloan</servlet-name>
	<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>deleteloan</servlet-name>
	<servlet-class>pack1.deleteloan</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>deleteloan</servlet-name>
	<url-pattern>/deletel</url-pattern>
</servlet-mapping>
      
         
</web-app>